<h1>Minhas Perguntas</h1>
<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="pergunta">Perguntas</label>
            <input type="text" id="pergunta" class="form-control" ng-model="vm.pergunta" required />
        </div>
 
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.savePergunta()">Save</button>
            <button class="btn btn-danger" ng-click="vm.deletePergunta()">Delete</button>
        </div>
    </form>
</div>
